<div class="ae-grid au-xs-ta-center au-mb-4">
    <div *ngFor="let person of infoAboutService.team" class="animated fadeIn ae-grid__item item-lg-4 ae-kappa au-mb-3">
        <img [src]="person.url" alt="" class="au-mb-3" />
        <h5 class="ae-u-bolder au-mt-2">{{ person.nombre }}</h5>
        <p class="ae-u-bolder au-mb-3">{{ person.subtitulo }}</p>
        <p class="au-lg-ta-left au-mb-3 au-pl-4 au-pr-4">
            {{ person.description }}
        </p>
        <a target="_blank" href="https://twitter.com/{{ person.twitter }}" class="ae-u-bolder au-underline">{{ person.twitter }}</a
    >
  </div>
</div>
<div class="ae-grid au-pt-2">
  <div class="ae-grid__item item-lg-8 item-lg--offset-2">
    <h4 class="ae-u-bolder">MTI Erick Neftalí Sarmiento Cortés</h4>
    <p>
      Ing. Industrial y de Sistemas egresado de la Universidad Interamericana
      del Norte <br />
      Master en Tecnologías de la Información egresado del Tecmilenio
    </p>
  </div>
</div>
<div class="ae-grid ae-grid--alt au-xs-ptp-1">
  <div class="ae-grid__item--alt item-lg-4">
    <h6 class="ae-u-boldest">About Us</h6>
    <p class="au-lh-3">
      La excelencia es la meta, pero el proceso es el que disfruto.
    </p>
  </div>
  <div class="ae-grid__item--alt item-lg-4">
    <h6 class="ae-u-boldest">Mi Misión</h6>
    <p class="au-lh-3">
      Proveer el máximo rendimiento de los sistemas en las empresas e
      instituciones, estar a la vanguardia de las nuevas tecnologías para
      beneficio de la empresa, institución y sociedad, desarrollarme
      profesionalmente poniendo siempre por delante los principios y valores
      como ser humano.
    </p>
  </div>
  <div class="ae-grid__item--alt item-lg-4">
    <h6 class="ae-u-boldest">A los clientes</h6>
    <p class="au-lh-3">
      Estamos comprometidos con solucionar los problemas, proporcionando nuestro
      maximo esfuerzo agregandole valor humano a todas nuestros servicios.
    </p>
    <p class="au-lh-3">Servicio con proposito</p>
  </div>
</div>
<p class="au-flex au-pt-4 group-buttons">
  <a
    href="portfolio.html"
    class="au-mt-4 arrow-button arrow-button--right arrow-button--out"
    >Portafolio<span class="arrow-cont">
      <svg>
        <use xlink:href="assets/img/symbols.svg#arrow"></use></svg></span
  ></a>
        </p>